<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
</section>

<section class="row">
  <article class="column">
    <h2>App</h2>
    <ul>
      <li><%= "Bearer token = #{bearer_token(@conn)}" %></li>
      <li><a href="/login">Click here to authorize app</a></li>
    </ul>
  </article>
</section>
